div{
  background-color: #5f9ea0;
  flex: 1;
  width: 100%;
}

header {
  align-items: center;
  color: #050505;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  justify-content: center;
  min-height: 15vh;
}

body {
  align-items: center;
  background-image: url('./Test2.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #050505;
  font-size: 30px;
  margin-top: 180px;
}

h2 {
  color: #030303;
  font-size: 24px;
  margin-top: 160px;
}
img{
  margin-top: 180px;
  width: 30%;
}

p {
  background-color: #5f9ea0;
  color: #000003;
  font-size: 20px;
  margin-top: 25px;
}
